body{
    width:100%;
    margin:0;
    background-image: url('https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    font-family:Tahoma;
    font-size:16px;
  }
  h1, p{
    margin:1.5em auto 0.5em;
    text-align: center;
  }
  p{
    margin:0 0 2em 0;
    font-style:italic;
    color:#282828;
    font-size:18px;
  }
  form{
    width:60vw;
    max-width:800px;
    min-width:300px;
    border-radius:5px;
    margin:0 auto 2em ;
    padding:2em;
    background-color:#282828;
    opacity:0.9;
  }
  fieldset {
    border: none;
    padding:0 1em 0 1em;
  }
  label{
    display:block;
    margin:0.5rem 0 1rem 0;
    color:#f1f1f1;
  }
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    padding:0 0 0 0.5em;
    width: 100%;
    min-height: 2.5em; 
    background-color:#f1f1f1;
    border:none;
    border-radius:2px;
  }
  input, textarea{
    background-color:#f1f1f1;
    border:none;
  }
  input:focus, textarea:focus, select:focus{
    outline:none;
  }
  .inline{
    width:unset;
    margin:0.2em 0;
    vertical-align: middle;
    min-height:unset;
  }
  input[type="submit"]{
    margin: 1em auto;
    display: block;
    width:60%;
    background-color:#777879;
    opacity:1;
    font-size:16px;
    min-height:2em;
    color:#f1f1f1;
  }
  input[type="submit"]:hover{
    background-color:#8b8b8b;
  }